# Pre-requisitos
*.d



# Arquivos objeto compilados
*.slo

*.lo

*.o

*.obj



# Headers pre-compilados
*.gch

*.pch



# Bibliotecas dinâmicas
*.so

*.dylib

*.dll



# Bibliotecas estáticas comiladas
*.lai

*.la

*.a

*.lib



# Executaveis
*.exe

*.out

*.app


#Pasta dos executáveis
bin/